html, body {
     font-family: Arial, Helvetica, sans-serif;
     margin:0px;
     padding:0px;
     padding-top:20px;
}
#page,
#pagebar,
#bottom {
     width:980px;
     margin:auto;
}
#pagebar {
     float:none;
}
#pagebar > li {
     /*width:122px;*/
}
#pagebar img {
     margin-top:-3px;
}
#head {
     margin-top:10px;
     margin-bottom:10px;
}
#col-left {
     float:left;
     width:49%;
}
#col-right {
     float:right;
     width:49%;
}
#bottom {
     clear:both;
     border-top:solid 2px #aaa;
     margin-bottom:10px;
     font-size:0.8em;
     
}

#headbox {
     float:right;
     padding-top:12px;
     /*text-align:right;*/
}

#search {
     margin-bottom:0px;
}
#search input {
     color:#000;
}

.iblock {
     margin-bottom:20px;
}
.iblock .content {
     /*height:100px;*/
}
.iblock h6 {
     margin:0px;
     background-color:#eee;
     border-bottom:solid 2px #666;
     padding:2px;
     padding-left:5px;
     color:#000;
     font-size:1.2em;
     /*border-radius:5px 5px;*/
}
.iblock h6 a {
     color:#000;
}
.iblock h6 span {
     font-size:0.65em;
     opacity:0.5;
}
.iblock h6 span.right {
     float:right;
     font-size:1em;
}
.iblock h6 span.right a {
     opacity:0.5;
}
.iblock h6 span.right a:hover,
.iblock h6 span.right a:focus {
     opacity:1;
}
.iblock.mo h6 {
     /*background-color:#94dfff;*/
     background-color:#dff6ff;
     /*background-color:#f2fbff;*/
     border-color:#009091;
}
.iblock.ao h6 {
     /*background-color:#ecffb4;*/
     background-color:#f5ffd7;
     border-color:#b4d455;
}
.iblock.fo h6 {
     /*background-color:#f7dbb9;*/
     background-color:#fff4e6;
     border-color:#f7941d;
}
.iblock.you h6 {
     /*background-color:#ffbcc3;*/
     background-color:#ffebed;
     border-color:#bf1e2e;
}
.iblock .content {
     padding-top:10px;
}

.iblock h6,
.iblock.mo h6,
.iblock.ao h6,
.iblock.fo h6, 
.iblock.you h6 {
     /*background-color:#fff;*/
}

/* BOX tz */
#tz {
     /*background-repeat:no-repeat;*/
     min-height:180px;
}
#tz .tz-content {
     background-color:rgba(0,0,0,0.75);
     color:#fff;
     position:absolute;
     font-size:1.2em;
     float:left;
     z-index:100;
     line-height:1.2em;
     padding:5px;
     bottom:0;
     right:0;
     left:0;
     width:470px;
}
#tz h4 {
     font-weight:normal;
     margin:0px;
}
#tz a {
     color:#fff;
}

/* kampane */
.k1 {
     float:right;
}

/* BOX news */
#news {
     font-weight:bold;
     color:#009091;
}
#news a {
     color:#009091;
}
#news li {
     margin-top:10px;
}

/* BOX calendar */
#calendar {
     width:100%;
     background-color:#fff;
}
#calendar td {
     text-align:right;
     padding:2px;
     border:solid 2px #fff;
     width:65px;
     cursor:default;
}
#calendar td.hover {
     background-color:#b4d455;
}
#calendar .day {
     background-color:#ecffb4;
}
#calendar .today {
     background-color:#b4d455;
}
#calendar .old {
     opacity:0.5;
}
.event-icon-day {
     /*position:absolute;*/
     width:5px;
     height:5px;
     margin-right:2px;
     margin-bottom:2px;
     display:inline-block;
     background-color:#ccc;
     float:left;
}
#calendar #events {
     text-align:left;
     color:#87a42e;
     list-style:none;
     margin:0px;
}
#calendar #events a {
      color:#87a42e;
}
#calendar #events li {
     margin-top:10px;
}
.event-icon {
     width:10px;
     height:10px;
     display:inline-block;
     background-color:#ccc;
     margin-right:10px;
     float:left;
     margin-top:5px;
}
#calendar #events div {
     margin-left:20px;
}
.event-type-0 { background-color:#009091; }
#filter .event-type-0 { background-color:initial; color:#009091; }
/*calendar .event-type-1 { background-color:#b4d455; }*/
.event-type-1 { background-color:#917dae; }
#filter .event-type-1 { background-color:initial; color:#917dae; }
.event-type-2 { background-color:#009ddc; }
#filter .event-type-2 { background-color:initial; color:#009ddc; }
.event-type-3 { background-color:#bf1e2e; }
#filter .event-type-3 { background-color:initial; color:#bf1e2e; }
.event-type-4 { background-color:#f7941d; }
#filter .event-type-4 { background-color:initial; color:#f7941d; }

.popevents {
     list-style:none;
     margin:0px;
}
.popevents li {
     margin-bottom:10px;
}
.popevents .info {
     font-size:0.8em;
}

#filter {
     background-color:#ecffb4; /*#b4d455;*/
     position:absolute;
     width:461px;
     z-index:100;
     padding:10px;
     padding-bottom:0px;
     display:none;
     border-bottom: solid 2px #b4d455; 
}
#filter ul {
     list-style:none;
     margin:0px;
}
#filter ul li {
     float:left;
     width:150px;
     padding-bottom:10px;
}


/* BOX menu */
#indexmenu {
     list-style:none;
     margin:0px;
}
#indexmenu li {
     float:left;
     margin-right:11px;
     margin-left:10px;
}
#indexmenu a {
     display:block;
     width:75px;
     height:95px;
     text-align:center;
     font-size:0.9em;
     font-weight:bold;
}
#crmap {width:250px; height:148px; }
#crmap svg { margin-top:-30px; }


/* BOX youtube */
#youtube ul { list-style:none; margin:0px; padding:0px; padding-top:0px; font-weight:bold; }
#youtube li { float:left; width:125px; margin-left:17px; margin-right:20px; font-size:90%; }
#youtube li:last-child { margin-right:0px; }
#youtube div.time { font-size:90%; line-height:10px; padding:2px; margin:1px; position:absolute; background-color:#fff }


/* BOX money */
#money {
}
#money li {
     /*width:50%;*/
     text-align:center;
}
#money li a {
     border-color:#f7941d;
     font-weight:bold;
     color:#000;
     padding-top:4px;
     padding-bottom:4px;
}
#money li.active a {
     border-bottom-color:transparent;
}
#money a:hover,
#money a:focus {
     background-color:#fff4e6;
}
#money table {
     white-space:nowrap;
}
#money #income,
#money #outcome {
     color:#999;
     overflow:hidden;
}
#money #income a,
#money #outcome a {
     color:#000;
}
#money #income a:hover,
#money #outcome a:hover {
     color:#000;
     background-color:transparent;
}
#money .date {
     display:inline-block;
     width:70px;
}
#money .rockandrolla,
#money .evil {
     font-weight:bold;
     display:inline-block;
     width:100px;
}
#money .rockandrolla {
     color:#87a42e;
}
#money .evil {
     color:#bf1e2e;
}

#share .caret {
     border-top-color: #fff;
     border-bottom-color: #fff;
}
#share > a {
     font-weight:bold;
     color:#fff;
     text-shadow:0 1px 0 #000;
}
#share.open > a {
     color:#000;
     text-shadow:0 1px 0 #fff;
}
#share.open .caret {
     border-top-color: #777;
     border-bottom-color: #777;
}

#moneyservices {
     float:right;
     padding-top:10px;
}

