.navbar-flat {
    
}

.navbar-flat .navbar-inner {
background-color: black;
    background-image: none;
    box-shadow: white 0px 0px 0px;
    border: 0px;
}



.navbar-flat .nav>li>a {
    text-shadow:none;
    color:white;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    text-decoration: none;
    background-color: white;
     color:black;
}


.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    text-decoration: none;
    
      background-color: white;
      color:red;
}

#head {
    height:140px;
}

#vlnka {
    height: 150px;top:55px; background-image:url("/img/vlnka7.png");
      background-repeat: repeat-x;
      position: absolute;
      width: 100%;
      z-index: -20;
      background-position-x: center;
}