.navbar-flat {
    
}

.navbar-flat .navbar-inner {
    background-color: #bf1e2e;
    background-image: none;
    box-shadow: white 0px 0px 0px;
    border: 0px;
}

.navbar-flat .nav>li>a {
    text-shadow:none;
    color:white;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #917dae;
}


.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: black;
    text-decoration: none;
    background-color: #917dae;
}

#head {
    height:40px;
}

#logo {
    height: 130px;
    z-index: 3;
    position: relative;
    left: -60px;
    top: -8px;
    
}